.parent {
  width: 70%;
  height: 100vh;
  background: transparent;
  overflow: hidden;
  padding: 0;
  margin: auto;
}
.magicpattern {
  padding: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("./../../assets/wave.svg");
}
@media (max-width: 768px) {
  .parent {
    width:22rem;
    height: 40rem;
   
  }
  .magicpattern {
    background-image: url("./../../assets/wave2.svg");
  }
}
