.principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}
.section_1{
  width: 100%;
  margin-bottom: 2.5rem;
  padding:10rem 0 4rem 0; /*arriba, abajo*/
  border: solid 2px rgb(138, 216, 255);
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30% ;
  
}

/* Sección 2 */
.section_2{
  min-width: 100vw;
  min-height:100vh ;
  
}
.sectio_2_fondo{
  background-image: url('../../assets//Imagenes/mountains.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section_2_service{
  color: black;
  font-size: 0.875rem;
  padding-top: 8rem;
  padding-bottom: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1rem;
}
.section_2_service_title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 4rem;
  height: 4rem;
  color: black;
}

.section_3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  background-color: white;
  width:100%;
  text-align: center;
  gap:1rem ;
 
}