.foter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url('../assets/footer.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 10rem; 
  color: white;
  padding: 0 1rem;
}