.foter {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/footer.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 10rem; 
  color: white;
  padding: 0 1rem;
}
.foter-p{
  color: antiquewhite;
}