.principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.section_1{

  width: 100%;
  margin-bottom: 2.5rem;
  padding:10rem 0 4rem 0; /*arriba, abajo*/
  border: solid 2px rgb(138, 216, 255);
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30% ;
  
  
}
.section_2{
  
  background-image: url('../assets/Imagenes/mountains.jpg');
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* Centra la imagen de fondo */
  height: 100vh; /* Establece la altura de la sección al 100% del viewport */
  
}

.section_3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  background-color: white;
  width:100%;
  text-align: center;
  gap:1rem ;
 
}